<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="/static/css/Biblioteca.css">
</head>
<body>
    <div class="header">
        <div>SIGNARIO</div>
        <div class="menu">
            <span class="menu-item"><a href="/biblioteca" class="menu-link" aria-label="Ir a Biblioteca">Biblioteca</a></span>
            <span class="menu-item"><a href="/camara" class="menu-link" aria-label="Ir a Traductor">Traductor</a></span>
            <span class="menu-item"><a href="/nosotros" class="menu-link" aria-label="Ir a Nosotros">Nosotros</a></span>
        </div>
    </div>
    <div class="left-content">
        <h1>BIBLIOTECA</h1>
        <p>Alfabeto y números</p>
        <div class="container">
            <div class="vertical-container">
                <div class="blue-box">
                    <img src="/static/images/alfabeto.png" alt="Alfabeto" class="box-image">
                    <div class="box-text">Alfabeto</div>
                </div>
                <div class="blue-box blue-box-2">
                    <img src="/static/images/numero.png" alt="Números" class="box-image">
                    <div class="box-text">Números</div>
                </div>
                <div class="blue-box blue-box-3">
                    <img src="/static/images/saludo.png" alt="Saludos" class="box-image">
                    <div class="box-text">Saludos</div>
                </div>
            </div>
            <div class="grid-container"></div>
            <div class="translator">
                <label for="translator-input">Traductor de texto</label>
                <input type="text" id="translator-input" placeholder="Escribe algo...">
                <button>TRADUCIR</button>
            </div>
        </div>
    </div>
    <div class="footer">
        
    </div>
</body>
</html>
