<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cámara</title>
    <!-- Enlace al archivo de estilos -->
    <link rel="stylesheet" href="/static/css/Camara.css">
</head>
<body>
    <div class="header">
        <div>SIGNARIO</div>
        <div class="menu">
            <span class="menu-item"><a href="/biblioteca" class="menu-link" aria-label="Ir a Biblioteca">Biblioteca</a></span>
            <span class="menu-item"><a href="/camara" class="menu-link" aria-label="Ir a Traductor">Traductor</a></span>
            <span class="menu-item"><a href="/nosotros" class="menu-link" aria-label="Ir a Nosotros">Nosotros</a></span>
        </div>
    </div>
    <div class="content">
        <p>CÁMARA EN VIVO</p>
        <div class="main-container">
            <div class="camera-box">
                <p>Vista de la cámara (opcional)</p>
            </div>
            <div class="detector-box">
                <div class="detector-content"></div>
                <button class="detector-button">LIMPIAR</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <!-- Contenedor de los iconos sociales -->
        <div class="social-icons-container">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
        <!-- Repite el contenedor para cada grupo de iconos -->
        <div class="social-icons-container-2">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
        <div class="social-icons-container-3">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
        <div class="social-icons-container-4">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
        <div class="social-icons-container-5">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
        <div class="social-icons-container-6">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images/linkedin.png" alt="LinkedIn">
                    <img src="/static/images/twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</body>
</html>
