<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Nosotros.css') }}">
</head>
<body>
    <div class="header">
        <div>SIGNARIO</div>
        <div class="menu">
            <span class="menu-item"><a href="/biblioteca" class="menu-link" aria-label="Ir a Biblioteca">Biblioteca</a></span>
            <span class="menu-item"><a href="/camara" class="menu-link" aria-label="Ir a Traductor">Traductor</a></span>
            <span class="menu-item"><a href="/nosotros" class="menu-link" aria-label="Ir a Nosotros">Nosotros</a></span>
        </div>
    </div>
    <div class="content">
        <p>NOSOTROS</p>
        <div class="main-container">
            <div class="camera-box">
                <p><strong>SIGNARIO</strong><br><br>Es una plataforma diseñada para facilitar el aprendizaje y la comunicación en lenguajes de señas. Su objetivo principal es ser una herramienta inclusiva que permita a personas oyentes y no oyentes interactuar y aprender mutuamente de forma efectiva. Fue creado con la visión de cerrar la brecha comunicativa entre comunidades, promoviendo una sociedad más inclusiva y accesible.</p>
            </div>
            <div class="jeff-box">
                <img src="/static/images/jeff.png" alt="Jeff">
            </div>
            <div class="detector-box">
                <img src="/static/images/logo.png" alt="Logo">
                <p>Somos un equipo de personas de Chile, Bolivia, Perú y Colombia entusiastas, apasionados por los negocios y las tecnologías que ponemos a disposición nuestros conocimientos y experiencias para contribuir en la construcción de una sociedad cada vez más digital.</p>
            </div>
        </div>
        <div class="developers">
            <h2>DESARROLLADORES</h2>
            <div class="developer-cards">
                <div class="developer-card">
                    <img src="/static/images/icono.png" alt="Developer Icon">
                    <p>Nombre y Apellido</p>
                    <p>correo</p>
                </div>
                <div class="developer-card">
                    <img src="/static/images/icono.png" alt="Developer Icon">
                    <p>Nombre y Apellido</p>
                    <p>correo</p>
                </div>
                <div class="developer-card">
                    <img src="/static/images/icono.png" alt="Developer Icon">
                    <p>Nombre y Apellido</p>
                    <p>correo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="social-icons-container">
            <div class="social-icons">
                <div class="line"></div>
                <div class="social-icons-icons">
                    <img src="/static/images/facebook.png" alt="Facebook">
                    <img src="/static/images/instagram.png" alt="Instagram">
                    <img src="/static/images//linkedin.png" alt="LinkedIn">
                    <img src="/static/images//twitter.png" alt="Twitter">
                </div>
            </div>
            <div class="vertical-line">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</body>
</html>
